@charset "UTF-8";
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 1rem;
}

* body main {
  display: block;
  text-align: justify;
  max-width: 1440px;
  margin-left: auto;
  margin-right: auto;
  padding: 0.5rem;
}

* body main h1 {
  text-align: center;
  font-size: 2rem;
}

* body main h3 {
  font-size: 1.2rem;
}

* body main h3 em {
  font-size: 1.2rem;
}

* body main figcaption {
  font-size: 0.9rem;
  color: #a6a6a6;
  text-align: center;
}

* body main button {
  margin: 0.5rem;
  padding: 0.25rem;
  border-radius: 10px;
}

* body main input {
  margin: 0.5rem 0rem;
}

* body main .radioInput {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 25px 1fr;
      grid-template-columns: 25px 1fr;
  margin: 0.5rem 0rem;
}

* body main .radioInput input {
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1/2;
}

* body main .radioInput label {
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2/3;
}

* body main figure {
  margin: 0 0 1rem 0;
}

* body main img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 100%;
}

* body main .images {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
}

@media only screen and (min-width: 769px) {
  * body main h1 {
    margin: 3rem 0 0 0;
  }
  * body main figure {
    margin: 0 0.5rem 0 0.5rem;
  }
  * body main img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 100%;
  }
  * body main .images {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row nowrap;
            flex-flow: row nowrap;
  }
}

* body table {
  margin: 0.5rem 0rem 1rem 0rem;
  text-align: center;
  width: 100%;
  border: 1px solid black;
  border-collapse: collapse;
  overflow-x: auto;
}

* body table th {
  padding: 0.25rem;
}

* body table thead > tr {
  background-color: #a6a6a6;
  color: white;
}

* body table tbody tr {
  padding: 10rem;
}

* body table tbody tr > th {
  background-color: #cccccc;
}

* body table tbody tr:nth-child(even) {
  background-color: #f1f1f1;
}

#katomierz {
  border: 1px solid black;
  /*
  NOTE:
  * to poniżej odpowiada za skalowanie płótna z zachowaniem proporcji, NIE ZMIENIAĆ!
  */
  max-width: 100%;
}

ul.navbar {
  display: block;
  list-style-type: none;
  margin: 0;
  padding: 0;
  background-color: #f1f1f1;
}

ul.navbar li a {
  width: 100%;
  display: block;
  float: none;
  color: #000;
  padding: 8px 16px;
  text-align: center;
  text-decoration: none;
}

ul.navbar li a.active {
  background-color: #a6a6a6;
  color: white;
}

ul.navbar li a:hover {
  background-color: #555;
  color: white;
}

@media only screen and (min-width: 769px) {
  ul.navbar {
    max-width: 1440px;
    margin: 0 auto;
  }
  ul.navbar li a {
    width: 25%;
    background-color: #f1f1f1;
    float: left;
  }
  ul.navbar li a.active {
    background-color: #a6a6a6;
    color: white;
  }
}
/*# sourceMappingURL=main.css.map */