#katomierz {
  border: 1px solid black;
  /*
  NOTE:
  * to poniżej odpowiada za skalowanie płótna z zachowaniem proporcji, NIE ZMIENIAĆ!
  */
  width: 100%;
}

/* hamburger menu */
/* ikona domyślnie nie jest widoczna */
nav .ham {
  display: none;
}
/* dla małych ekranów ikona jest domyślnie widoczna */
@media screen and (max-width: 768px) {
  nav a {
    display: none;
  }
  nav .ham {
    display: block;
    width: auto;
  }
}
